
.diet-details ul {
  background-color: #B0C485;
}

.diet-page img {
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 8px;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}
.diet-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.diet-page p {
    margin: 10px 0 10px 0; 
    font-size: 16px;
    color: #555;
}
.submit-btn {
  width: 236px;
  height: 63px;
  background-color: #64894b;
  border-radius: 20px;
  color: white;
  font-size: 32px;
  font-weight: 500;
  border: none;
  margin-top: 42px;
  cursor: pointer; /* Add a pointer cursor for better UX */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.text-content {
    flex: 1; /* Allow text-content to take up available space */
    padding-right: 20px; /* Add spacing between text-content and nutrition */
}

.nutrition {
    width: 150px; /* Set a fixed width for the nutrition section */
    text-align: left; /* Align text to the right */
    flex-shrink: 0; /* Prevent the nutrition section from shrinking */
    padding-left: 20px; /* Add spacing between nutrition and text-content */
}



.submit-btn:hover {
  background-color: darkgreen;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  .bounce1,
  .bounce2,
  .bounce3 {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #b0c485;
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-out;
  }

  .bounce2 {
    animation-delay: -0.32s;
  }

  .bounce3 {
    animation-delay: -0.16s;
  }
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.diet-details-container {
  display: flex; 
  align-items: center; 
  flex-direction: column;
  justify-content: space-between; 
  width: 100%;
  max-width: 1200px; 
  margin: 20px auto; 
  gap: 40px; 
}

.diet-details-container img {
  max-width: 80%;  
  max-width: 800px; 
  height: auto; 
  border-radius: 10px; 
  object-fit: cover;
}

.diet-details-container .text-content {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 20px;
}

.diet-details-container h2 {
  font-size: 36px; 
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.diet-details-container p {
  font-size: 20px; 
  color: #555;
  line-height: 1.8; 
  text-align: center; 
}