.login {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;
    &-wrapper {
        width: 280px;
        margin: 0 auto;
    }
    width: 500px;
    height: 300px;
    background-color: #b0c485;
    border-radius: 20px;
    padding: 58px 70px;
    &-form {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
        .input-field {
            background-color: FFFAEE;
            height: 30px;
            padding: 10px 20px;
            color: #476334;
            font-size: 20px;
            font-weight: lighter;
            border-radius: 20px;
            border: none;
        }
    }
    .forgot-password {
        a {
            color: #476334;
            &:hover {
                text-decoration: underline;
                color: white;
            }
        }
        width: 240px;
        margin-top: 15px;
        padding-left: 40px;
        text-align: right;
        font-size: 18px;
    }
    .login-controls {
        display: flex;
        justify-content: space-between;
        width: 280px;
        margin-top: 42px;
        .sign-up__action {
            width: 194px;
            height: 63px;
            color: #476334;
            background: none;
            border: none;
            font-size: 22px;
            &:hover {
                color: white;
            }
        }
        .log-in__action {
            width: 194px;
            height: 63px;
            background-color: #64894b;
            color: white;
            padding: 14px 39px;
            border: none;
            border-radius: 40px;
            font-weight: 500;
            font-size: 20px;
            &:hover {
                background: #c6d6a3;
                color: #64894b;
            }
        }
    }
}