.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 74vh;
  background-color: #f9f5e8;

  .login-wrapper {
    padding: 40px;
  }

  .MuiPaper-root {
    background-color: #a9c285 !important;
    border-radius: 16px;
    padding: 50px 70px;
  }

  .MuiFilledInput-root {
    background-color: #eae9d1;
    border-radius: 20px;
    font-size: 14px;

    input {
      color: #5a814f;
    }
  }

  .MuiButton-contained {
    background-color: #5a814f !important;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
  }

  .MuiButton-text {
    color: #2d4c2f !important;
  }
}
