.navigation {
    &__logo {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color: red;
    }
    &-list {
        list-style-type: none;
        &__item {
            font-size: 50px;
        }
    }
}