.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 122px;
    &__logo {
        width: 70px;
        height: 70px;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        width: 649px;
        list-style-type: none;
        a {
            text-decoration: none;
            color: #64894b;
            font-size: 32px;
        }
    }
}

a {
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.nav-link.active {
    color: green;
    font-weight: bold;
    border-bottom: 2px solid green;
}