.footer {
    width: 100%;
    height: 144px;
    background-color: #476334;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
        color: #b0c485;
        text-align: center;
    }
}